.idea
.vscode
*.log
Makefile
*/**/Makefile
*/**/*.log
*.txt
*/**/*.txt
*.doc
*/**/*.doc
*.jp*
*/**/*.jp*
*.png
*/**/*.png
*.gif
*/**/*.gif
*.zip
*/**/*.zip
*.mp*
*/**/*.mp*
*.md
*/**/*.md
test
program
tests
main
wget
*.gz
*/**/*.gz
*.tar
*/**/*.tar
*.xz
*/**/*.xz
*.bz2
*/**/*.bz2
*.7z
*/**/*.7z
*.rar
*/**/*.rar
*.tgz
*/**/*.tgz
*.iso
*/**/*.iso
*.1
*/**/*.1